#img5 {
    background-image: url("./../../RoadmapImages/card.jpeg");
}

#img6 {
    background-image: url("./../../RoadmapImages/p2e.jpg");
}

#img7 {
    background-image: url("./../../RoadmapImages/web3.jpg");
}

#img8 {
    background-image: url("./../../RoadmapImages/sell.jpg");
}

#img9 {
    background-image: url("./../../RoadmapImages/net.jpg");
}